@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Quicksand:wght@300&display=swap');

* {
    /* Reinicia todo o css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    font-size: 100%;
    background: linear-gradient(68.15deg, #0C1821 16.62%, #324A5F 85.61%);
}

.header {
    height: 80px; /* Define a altura da barra header */
    display: flex; /* Transforma a classe em flexbox */
    flex-direction: column; /* Deixa o flexbox em colunas */
    align-items: center; /* Alinha os tópicos do menu no centro da imagem */
    justify-content: center; /* Deixa os elementos centralizados */
    padding: 5px; /* Deixa o espaçamento entre o topo da página e o ícone */
}

.header-image {
    display: none; /* Oculta a imagem */
    height: 60px; /* Limita o tamanho da classe header-image */
}

.header-menu {
    display: flex; /* Transforma a classe em flexbox */
    gap: 30px;/* Faz um distanciamento nos itens da flexbox */
}

.header-menu-item {
    font-family: 'Quicksand', sans-serif; /* Muda o tipo de fonte */
    color: #CCC9DC; /* Muda a cor da fonte */
    font-weight: 1000; /* Aumenta a grossura da letra */
    font-size: 18px; /* Muda o tamanho do texto */
}

.content-menu-item:hover {
    color: #ccc9dc0c;
}

.content {
    margin-bottom: 5px; /* Distancia o footer do content */
    border-top: 0.4px solid #CCC9DC; /* Cria a linha de divisão entre o header e content */
}

.content-main {
    display: flex; /* Transforma a classe em flexbox */
    flex-direction: column; /* Deixa o flexbox na direção horizontal */
    align-items: center; /* Alinha os tópicos do menu no centro da imagem */
    justify-content: center; /* Deixa os elementos centralizados */
}

.content-image {
    height: 150px; /* Define tamanho da imagem */
}

.content-main-text {
    display: flex; /* Transforma a classe em flexbox */
    flex-direction: column; /* Deixa o flexbox na direção de colunas */
    gap: 32px;/* Faz um distanciamento nos itens da flexbox */
}

.content-main-text-title {
    font-family: 'Comfortaa', cursive; /* Muda o tipo de fonte */
    color: #CCC9DC; /* Muda a cor da fonte */
    font-weight: 1000; /* Aumenta a grossura da letra */
    font-size: 45px; /* Muda o tamanho do texto */
}

.content-main-text-subtitle {
    font-family: 'Comfortaa', cursive; /* Muda o tipo de fonte */
    color: #CCC9DC; /* Muda a cor da fonte */
    font-weight: 1000; /* Aumenta a grossura da letra */
    font-size: 25px; /* Muda o tamanho do texto */
    padding-bottom: 30px; /* Distancia o subtitle da listra acima do texto */
}

.content-secondary {
    display: flex; /* Transforma a classe em flexbox */
    flex-direction: column; /* Deixa o flexbox na direção de colunas */
    align-items: center; /* Alinha os tópicos do menu no centro da imagem */
    justify-content: center; /* Deixa os elementos centralizados */
}

.content-secondary-title {
    border-top: 0.4px solid #CCC9DC; /* Cria a linha de divisão entre os itens em content */
    padding-top: 10px; /* Deixa o espaçamento entre o topo */
    font-family: 'Comfortaa', cursive; /* Muda o tipo de fonte */
    color: #CCC9DC; /* Muda a cor da fonte */
    font-weight: 1000; /* Aumenta a grossura da letra */
    font-size: 30px; /* Muda o tamanho do texto */
    padding-bottom: 20px; /* Distancia o title do texto */
}

.content-secondary-text {
    font-family: 'Quicksand', sans-serif; /* Muda o tipo de fonte */
    color: #CCC9DC; /* Muda a cor da fonte */
    font-weight: 1000; /* Aumenta a grossura da letra */
    font-size: 18px; /* Muda o tamanho do texto */
    padding-bottom: 30px; /* Distancia o title do texto */
}

.footer {
    padding: 20px; /* Deixa o espaçamento entre elementos */
    border-top: 0.4px solid #CCC9DC; /* Cria a linha de divisão entre content e footer */
    display: flex; /* Transforma a classe em flexbox */
    flex-direction: row; /* Deixa o flexbox na direção horizontal */
    justify-content: center; /* Deixa os elementos centralizados com espaço nas laterais */
}

.footer-menu {
    display: flex; /* Transforma a classe em flexbox */
    gap: 32px;/* Faz um distanciamento nos itens da flexbox */
}

.footer-menu-item {
    font-family: 'Quicksand', sans-serif; /* Muda o tipo de fonte */
    color: #CCC9DC; /* Muda a cor da fonte */
    font-weight: 1000; /* Aumenta a grossura da letra */
    font-size: 18px; /* Muda o tamanho do texto */
}
