/* PROJECT IMAGES */
.project__images {
    display: flex;
    justify-content: space-evenly;
}

.project__images img {
    width: 300px;
}

/* BREAKPOINTS */
    /* For small devices */
    @media screen and (max-width: 700px){
        .project__images{
            display: block;
        }
    }
    
        /* For medium devices */
    @media screen and (max-width: 652px){
        .project__images {
            text-align: center;
        }
    }
    
    @media screen and (min-width: 652px){
        .project__images {
            text-align: center;
        }

        .project__images img {
            width: 40%;
        }
    }