/* PROJECT IMAGES */
.project__images {
    display: flex;
    justify-content: space-evenly;
}

.project__images img {
    width: 300px;
}

td, th {
    padding: .7em;
    margin: 0;
    /*border: 1px solid #ccc;*/
    text-align: center;
}

table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
}

/* BREAKPOINTS */
    /* For small devices */
    @media screen and (max-width: 700px){
        .project__images{
            display: block;
        }
    }
    
        /* For medium devices */
    @media screen and (max-width: 652px){
        .project__images {
            text-align: center;
        }
    }
    
    @media screen and (min-width: 652px){
        .project__images {
            text-align: center;
        }

        .project__images img {
            width: 40%;
        }
    }